* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #000;
}

section {
    background: #000;
    color: #fff;
    height: calc(100vh - 43px);
    width: 100%;
}

ul {
    display: flex;
}

li {
    flex-grow: 1;
    list-style-type: none;
}

a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
}

a:hover {
    color: yellow;
    border-bottom-color: yellow
}

a.active {
    border-bottom-color: yellow
}

.home {
    color: red;
}

.info {
    color: white;
}

.gallery {
    color: blue;
}

.contact {
    color: green;
}